@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background:url('/proektograd-leto/images/fon-dlya-stola-tekstura-chernyj.jpg')
}

@keyframes zoom {
    from {
      transform: scale(0.85);
      opacity: 0.5;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes zoom-out {
      from {
        transform: scale(0.3);
        opacity: 0.0;
      }
      to {
        transform: scale(1);
        opacity: 1;
      }
    }
  
  @keyframes right {
    from {
      transform: translate(-100px);
      opacity: 0;
    }
    to {
      transform: translate(0px);
      opacity: 1;
    }
  }
  
  @keyframes left {
    from {
      transform: translate(100px);
      opacity: 0;
    }
    to {
      transform: translate(0);
      opacity: 1;
    }
  }
  
  @keyframes top {
    from {
      transform: translate(0px, 100px);
      opacity: 0;
    }
    to {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  
  @keyframes down {
    from {
      transform: translate(0px, -100px);
      opacity: 0;
    }
    to {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  
  @keyframes rotate {
      from{
          transform: rotate(0deg);
      }
      to{
          transform: rotate(360deg);
      }
  }
  
  .forma {
    margin-top: 40px;
    width: 50%;
    margin-left: 25%;
    display: inline-block;
  }
  .form-input {
    width: 100%;
    display: block;
    height: 45px;
    background: transparent;
    border: 3px solid white;
    margin-bottom: 30px;
    border-radius: 20px;
    padding-left: 15px;
    font-family: Signika;
    font-size: 19px;
    color: white;
  }
  .form-button {
    font-family: Signika;
    vertical-align: top;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 50px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border: none;
    width: 50%;
    margin-left: 25%;
    cursor: pointer;
  }
  
  html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: block;
    scroll-padding-top: 70px;
  }
  
  .menu {
    height: 55px;
    display: flex;
    background-color: #87c781;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    align-items: center;
    padding: 10px;
    padding-right: 40px;
    justify-content: space-between;
  }
  
  .logo-block {
    font-family: Tauri;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    margin-left: 10px;
    color: #fffdfd;
    cursor: pointer;
    
  }
  
  .link-block{
      display: inline-block;
      
  }
  
  .link-block>a{
      font-family: Tauri;
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      color: #fffdfd;
      margin-right: 100px;
      cursor: pointer;
  }
  
  
  .link-block>a:hover{
      text-decoration: underline;
  }
  
  .flower{
      width: 50px;
      height: 50px;
      display: inline-block;
      animation: rotate 3s linear infinite;
      vertical-align: middle;
  }
.blok1{
    font-family: 'Ubuntu', cursive;
    color: white;
    width: 900px;
    height: 500px;
    border-radius: 5px;
    display: inline-block;
    height: 80vh;
    width: 90vw;
    margin-left: 5vw;
}
.group1{
    width: 400x;
    height: 500px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.text1{
    display: inline-block;
    width: 35%;
    vertical-align: middle;
    margin-left: 5%;
}
.block2{
    font-family: 'Ubuntu', cursive;
    color: white;
    display: inline-block;
    padding-left: 100px;
}
.text2{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-left: 5%;
    color: white;
    font-family: 'Ubuntu';
font-weight: 400;
font-size: 32px;
}
.picture2{
    width: 300px;
}
.picture3{
    width: 500px;
    display:inline-block;
    vertical-align: middle;
    margin-top: 50px;
}

.text3{
    display: inline-block;
    width: 35%;
    vertical-align: middle;
    margin-left: 5%;
    font-size: 30px;
}
.proektograd{
    text-align: center;
    font-size: 100px;
    
}
.zagalovok{
text-align: center;
color: white;
font-family: Ubuntu;

}
.text4{
    color: white;
    font-family: 'Ubuntu';
    font-size: 45px;
}
.picture4{
    width: 500px;
}
.text5{
    color: white;
    font-family: Ubuntu;
    font-size: 20px
} 
.text6{
    color: white;
    font-family: Ubuntu;
}
.text7{
    color: white;
    font-family: Ubuntu;
}
.block4{
    width: 45%;
    display: inline-block;
}
.vozhatye{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.blok-s-vozhatymi{
    height: 1147px;
}
.block5{
margin-left:5% ;
height: 660px;

}
.text8{
color: white;
text-align: center;
font-family: Ubuntu;
font-size: 100px;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.flex-container{
    display: inline-block;
}
.flex-text{
    color: white;
    font-family: Ubuntu;
    font-size: 50px;
}
.block6{
    height: 500px;
    margin-top: 5%;
}
.images10{
    margin-left: 10%;
}
